<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
      body {
        background-color: #007d9c;
      }

      #content-wrap {
        box-sizing: border-box;
        background-color: #fff;
        width: 30%;
        padding: 20px;
      }

      h3 {
        padding: 0;
        margin: 0;
      }
    </style>
</head>
<body>
  <div id="content-wrap">
    <img src="" alt="Gopher Logo" />

    <h3>Ogolne</h3>
    <ul>
      <li>
        <p>Liczba mieszkan</p>
        <p>{{.FlatsNotSold}}</p>
      </li>
      <li>
        <p>Liczba dostepnych</p>
        <p>{{.FlatsAvailable}}</p>
      </li>
      <li>
        <p>Liczba zarezerwowanych</p>
        <p>{{.FlatsReserved}}</p>
      </li>
    </ul>

    <h3>5 pietro</h3>
    <p>Czy wszystko obok nas sprzedane?</p>
    <p>{{.AreAllNeighbours}}</p>

    <h3>Galeria</h3>
    <p>Liczba galerii</p>
    <p>{{.GalleriesCount}}</p>
  </div>
</body>
</html>