<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <div>
    <h3>Ogolne</h3>
    <ul>
      <li>
        <p>Liczba mieszkan</p>
        <p>{{.FlatsNotSold}}</p>
      </li>
      <li>
        <p>Liczba dostepnych</p>
        <p>{{.FlatsAvailable}}</p>
      </li>
      <li>
        <p>Liczba zarezerwowanych</p>
        <p>{{.FlatsReserved}}</p>
      </li>
    </ul>
    <h3>5 pietro</h3>
    <p>Czy wszystko obok nas sprzedane?</p>
    <p>{{.AreAllNeighbours}}</p>
  </div>
</body>
</html>